<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         colors="true"
         executionOrder="random"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutResourceUsageDuringSmallTests="true"
         beStrictAboutOutputDuringTests="true"
         failOnWarning="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">./app</directory>
        </include>
    </coverage>

    <filter>
        <whitelist>
            <directory suffix=".php">../src</directory>
            <exclude>
                <directory suffix="index.php">../src</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>

